<div class="container">
  <form
    class="sign-in-form"
    [formGroup]="signInForm"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
  >
    <h2>Sign in</h2>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Username*</mat-label>
        <input matInput placeholder="Username" formControlName="username" />
        <mat-error *ngIf="!signInForm.get('username')?.valid">
          <span *ngIf="signInForm.get('username')?.errors?.['required']"
            >Username is required</span
          >
          <span
            *ngIf="!signInForm.get('username')?.errors?.['required'] && signInForm.get('username')?.errors?.['minlength'] || signInForm.get('username')?.errors?.['maxlength']"
            >Length from 6 to 32 characters</span
          >
          <span
            *ngIf="!(signInForm.get('username')?.errors?.['minlength'] || signInForm.get('username')?.errors?.['maxlength']) && signInForm.get('username')?.errors?.['pattern']"
            >Only alphabet</span
          >
        </mat-error>
      </mat-form-field>
      <pre>{{signInForm.get('username')?.errors | json}}</pre>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Password*</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
        <mat-error *ngIf="!signInForm.get('password')?.valid">
          <span *ngIf="signInForm.get('password')?.errors?.['required']"
            >Password is required</span
          >
          <span
            *ngIf="signInForm.get('password')?.errors?.['minlength'] || signInForm.get('password')?.errors?.['maxlength']"
            >Length from 6 to 32 characters</span
          >
          <span
            *ngIf="!(signInForm.get('password')?.errors?.['minlength'] || signInForm.get('password')?.errors?.['maxlength']) && signInForm.get('password')?.errors?.['pattern']"
            >Only alphabet, digit and at least one of !@#$%^&*</span
          >
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
    </div>
    <div class="row-control row-actions">
      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </div>
    <pre>{{ signInForm.value | json }}</pre>
  </form>
</div>
